html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #0d0c0e;
    color: #fff;
}

nav {
    z-index: 99;
    position: relative;
}

header h1, h2, .projects h1 {
    font-size: 2.5em;
}

h1 {
    background-image: linear-gradient(270deg, #6c3d9b, #ffffff, #797979); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2, h3, p, a, small {
    color: #fff;
}

h3 {
    color: #fff;
    font-size: 1.7em;
}

a {
    text-decoration: none;
}

a {transition: 0.4s;}

a:hover {
    color: #c172e9;
    text-decoration: none;
}

.contenedor-btn {
    display: flex;
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #b963e0, #8000bb);
    cursor: pointer;
    width: 3.4em;
}

.btn2 {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    gap: 10px;
    cursor: pointer;
}

p {
    font-size: 0.9;
    color: #ccc;
}

nav a, footer a {
    text-decoration: none;
}

nav .container {
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0 auto;
}

nav .container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu, nav .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul, footer ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li, footer ul li {
    display: inline-block;
    margin: 0 0.5em;
}

nav ul a, footer ul a {
    font-size: 0.8em;
    text-transform: uppercase;
}

.logo {
    width: 6em;
    display: inline-block;
    padding: 0 3.5em;
}

.nav-btn {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.6);
}

nav .container .menu-btn {
    display: none;
}

header {
    height: 100vh;
    background: url(background1.jpg);
}

h2, h3, .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: #8000bb
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 3em;
    box-sizing: border-box;
    height: 90%;
    max-width: 1125px;
    margin: 0 auto;
}

.content-profile {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.content img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
    width: 14em;
    height: 14em;
    border-radius: 50%;
    border: 10px #8000bb;
}

.row {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
    padding: 3em 14em;
}

.row p {
    font-size: 0.8em;
    max-width: 33em;
}

.row img {
    width: 22em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.row-btn {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #b963e0, #8000bb);
    cursor: pointer;
    width: 5.4em;
    margin-top: 30px;
}

.form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    container-name: form;
    container-type: inline-size;
    background: url(background2.jpg);
}

.form__form {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 33em;
    width: 100%;
    display: grid;
    background: #000;
    border-radius: 10px;
    color: #fff;
    gap: 20px;
}

.form__form label {
    margin: 5px;
}

.form__input-container :is(input,textarea) {
    width: 95%;
    padding: 9px;
    font-size: 16px;
    margin: 4px;
    border: none;
    color: #ffffff;
    border-radius: 50px;
    background: #1b181d;
}

.form__input-container textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
    border-radius: 20px;
    background: #1b181d;
}

.form__input:focus {
    border: 2px solid #5e008a;
}

.form__input::placeholder {
    color: #696969;
}

.form__title {
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
}


.form__form button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    width: 100px;
    border-radius: 50px;
    background: linear-gradient(270deg, #b963e0, #8000bb);
    cursor: pointer;
}

footer {
    background: #161618;
}

.footer-top {
    padding: 1em 2em;
}

.footer-top .logo {
    width: 6em;
}

.footer-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2em;
}

.footer-links {
    display: column;
    justify-items: start;
}

.footer-btns {
    display: flex;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-items: start;
    padding: 14px 0px;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 14px;
}

.footer-btn-2 {
    display: flex;
    align-items: center;
    justify-items: start;
    padding: 14px 0px;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 14px;
    margin-left: 20px;
}

.footer-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer ul li:nth-child(1) {
    margin-left: 0;
}

@media screen and (max-width: 1000px) {
    nav .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    nav .container > div {
        grid-template-columns: 1fr;
    }
    nav .menu {
        flex-direction: column;
        align-items: flex-start;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
    }
    nav ul:nth-child(1) li {
        display: block;
        margin: 0.1em 0;
    }
    nav ul:nth-child(1) li:nth-child(1) {
        margin-top: 0.1em;
    }
    nav ul:nth-child(2) li:nth-child(1) {
        margin-left: 0;
    }
    nav .container .menu-btn {
        display: inline-block;
        font-size: 1.4em;
        cursor: pointer;
    }
    nav .container .nav-toggle {
        height: 7em;
    }
}

@media screen and (max-height: 400px) {
    header {
        height: 40em;
    }
}

@media screen and (min-width: 1000px) {
    header .content {
        margin:  0 0 0 6em;
        font-size: 18px;
    }
    .projects .overlay h1 {
        font-size: 3em;
    }
    .row img {
        width: 30em;
    }
    .posts {
        font-size: 18px;
    }
}

@media screen and (max-width: 680px) {
    .logo {
        padding: 0 1em;
    }
    header {
        background: url(background3.jpg);
        background-position: bottom;
        background-size: cover;
    }
    header .content {
        flex-direction: column;
    }
    .content-profile {
        flex-direction: column;
        margin: 0 auto;
    }
    .content img {
        flex-direction: column;
    }
    .row {
        grid-template-columns: 1fr;
        justify-items: center;
        flex-direction: column;
        text-align: center;
        padding: 2em 1.5em;
        margin: 0;
    }
    .row-btn {
        justify-content: center;
        margin: auto;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
    .row img {
        width: 100%;
    }
    .form {
        flex-direction: column;
        width: 100%;
        background: url(background4.jpg);
        background-position: bottom;
        background-size: cover;
    }
    .form__title {
        text-align: center;
        font-size: 27px;
        margin: 0;
        padding: 0 0 0.8em;
    }
    .form__form {
        width: 20em;
        justify-content: center;
        margin: 0;
    }
    .footer-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    header, .projects {
        font-size: 14px;
    }
}