html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #0d0c0e;
    color: #fff;
}

/* --------------- HEADER --------------- */

header {
    background-color: #000;
}

.logo {
    width: 7em;
    line-height: 80px;
    padding: 0 9.7em;
    margin-top: 10px;
}

nav {
    background: #000000;
    height: 50px;
    width: 100%;
    display: flex;
}

.screen-menu {
    margin-left: auto;
    padding: 0 9.7em;
}

nav ul li {
    display: inline-block;
    line-height: 0px;
    margin: 0 5px;
}

nav ul li a {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

a.active, a:hover {
    color: #c172e9;
    transition: .5s;
}

/* --------------- CONTENT --------------- */

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h1 {
    background-image: linear-gradient(270deg, #6c3d9b, #ffffff, #797979); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2, h3, p, a, small {
    color: #fff;
}

h3 {
    color: #fff;
    font-size: 1.7em;
}

a {
    text-decoration: none;
}

a {transition: 0.4s;}

a:hover {
    color: #c172e9;
    text-decoration: none;
}

p {
    font-size: 0.9;
    color: #ccc;
}

.content {
    height: 100vh;
    background: url(background1.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    container-name: content;
    container-type: inline-size;
    color: #fff;
    padding: 0 10em;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

.contenedor-btn {
    display: flex;
    text-decoration: none;
    padding-top: 1em;
}

.btn {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #b963e0, #8000bb);
    cursor: pointer;
    width: 3.4em;
}

.btn2 {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    gap: 10px;
    cursor: pointer;
}


h2, h3, .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: #8000bb
}

.content-profile {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.content img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
    width: 14em;
    height: 14em;
    border-radius: 50%;
    border: 10px #8000bb;
}

/* --------------- PROJECTS --------------- */

.row {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
    padding: 3em 14em;
}

.row p {
    font-size: 0.8em;
    max-width: 33em;
}

.row img {
    width: 22em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.row-btn {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #b963e0, #8000bb);
    cursor: pointer;
    width: 5.4em;
    margin-top: 30px;
}

/* --------------- CONTACT --------------- */

.form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    container-name: form;
    container-type: inline-size;
    background: url(background2.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
}

.form__form {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 33em;
    width: 100%;
    display: grid;
    background: #000;
    border-radius: 10px;
    color: #fff;
    gap: 20px;
}

.form__form label {
    margin: 5px;
}

.form__input-container :is(input,textarea) {
    width: 95%;
    padding: 9px;
    font-size: 16px;
    margin: 4px;
    border: none;
    color: #ffffff;
    border-radius: 50px;
    background: #1b181d;
}

.form__input-container textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
    border-radius: 20px;
    background: #1b181d;
}

.form__input:focus {
    border: 2px solid #5e008a;
}

.form__input::placeholder {
    color: #696969;
}

.form__title {
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
}

.form__form button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    width: 100px;
    border-radius: 50px;
    background: linear-gradient(270deg, #b963e0, #8000bb);
    cursor: pointer;
}

/* --------------- FOOTER --------------- */

footer {
    background: #161618;
}

footer a {
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

footer ul li {
    display: inline-block;
    margin: 0 0.5em;
}

footer ul a {
    font-size: 0.8em;
    text-transform: uppercase;
}

.footer-top {
    padding: 1em 2em;
}

.footer-top .logo {
    width: 7em;
}

.footer-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2em;
}

.footer-links {
    display: column;
    justify-items: start;
}

.footer-btns {
    display: flex;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-items: start;
    padding: 14px 0px;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 14px;
}

.footer-btn-2 {
    display: flex;
    align-items: center;
    justify-items: start;
    padding: 14px 0px;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 14px;
    margin-left: 20px;
}

.footer-mail {
    text-transform: uppercase;
    font-size: 14px;
}

.footer-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer ul li:nth-child(1) {
    margin-left: 0;
}

/* --------------- QUERIES --------------- */


@media screen and (max-width: 952px) {
    nav ul li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 858px) {
    .content {
        background: url(background3.jpg);
        background-position: bottom;
        background-size: cover;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
    .content-main {
        width: 40em; 
        justify-content: center;
        margin: 0;
        margin-top: 2em;   
    }
    .content-profile {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-top: 1.5em;
    }
    .content img {
        flex-direction: column;
    }
    .contenedor-btn {
        padding-top: 0.5em;
    }
}


@media screen and (max-height: 400px) {
    header {
        height: 40em;
    }
}

@media screen and (min-width: 1000px) {
    header .content {
        margin:  0 0 0 6em;
        font-size: 18px;
    }
    .projects .overlay h1 {
        font-size: 3em;
    }
    .row img {
        width: 30em;
    }
    .posts {
        font-size: 18px;
    }
}

@media screen and (max-width: 680px) {
    h1 {
        font-size: 2em;
    }
    .logo {
        width: 8em;
        display: inline-block;
        padding: 0 0.5em;
        z-index: 99;
    }
    .screen-menu {
        background-color: #000000;
        height: 100vh;
        width: 52px;
        max-width: 52px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        transition: .3s ease;
        z-index: 5;
    }
    .screen-menu.active {
        right: 0;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        margin-bottom: 3em;
        text-transform: uppercase;
        list-style-type: none;
    }

    nav .mail-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    nav {
        position: fixed;
        height: 50px;
        width: 100%;
        display: flex;
        background-color: #000000;
        padding-bottom: 8px;
        z-index: 99;
    }

    .ham-menu {
        cursor: pointer;
        height: 50px;
        width: 50px;
        right: 0;
        position: fixed;
        z-index: 99;
    }
    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #8000bb;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1) {
        top: 25%;
    }
    .ham-menu span:nth-child(3) {
        top: 75%;
    }
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    .content {
        background: url(background3.jpg);
        background-position: bottom;
        background-size: cover;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }
    .content-main {
        width: 20em; 
        justify-content: center;
        margin: 0;
        margin-top: 7.5em;   
    }
    .content-profile {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-top: 2em;
    }
    .content img {
        flex-direction: column;
    }
    .contenedor-btn {
        padding-top: 0.5em;
    }
    .row {
        grid-template-columns: 1fr;
        justify-items: center;
        flex-direction: column;
        text-align: center;
        padding: 2em 1.5em;
        margin: 0;
    }
    .row-btn {
        justify-content: center;
        margin: auto;
        margin-top: 30px;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
    .row img {
        width: 100%;
    }
    .form {
        flex-direction: column;
        width: 100%;
        background: url(background4.jpg);
        background-position: bottom;
        background-size: cover;
        z-index: -1;
    }
    .form__title {
        text-align: center;
        font-size: 27px;
        margin: 0;
        padding: 0 0 0.8em;
    }
    .form__form {
        width: 20em;
        justify-content: center;
        margin: 0;
    }
    .footer-mail {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        text-transform: uppercase;
        font-size: 14px;
    }
    .footer-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 800px) {
    header, .projects {
        font-size: 14px;
    }
}